.container {
  display: grid;
  grid-template-areas: 
    "header header";
  grid-template-columns: 200px 1fr;
  grid-template-rows: 60px 1vh 50px;
  height: 100vh;
}

.header { grid-area: header; background: #eee; }